@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS HEX */
  --timberwolf: #ddd5d0ff;
  --silver: #cfc0bdff;
  --ash-gray: #b8b8aaff;
  --battleship-gray: #7f9183ff;
  --feldgrau: #586f6bff;

  /* CSS HSL */
  --timberwolf: hsla(23, 16%, 84%, 1);
  --silver: hsla(10, 16%, 78%, 1);
  --ash-gray: hsla(60, 9%, 69%, 1);
  --battleship-gray: hsla(133, 8%, 53%, 1);
  --feldgrau: hsla(170, 12%, 39%, 1);

}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

section:nth-of-type(odd) {
  background: #f7f7f7;
}

.container {
  @apply px-12 py-12 mx-auto;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */